<div id="control">

	<div ng-show="isopen" ng-repeat="(key, value) in config" class="btn-container">
		<button ng-if='value["metadata"]["type"] == "bool"' type="button" class="btn btn-light" ng-class='value["state"] ? "on" : "off"' data-topic="{{key}}" ng-click="lightClick($event)">{{value["metadata"]["location"]}}</button>
		<div ng-if='value["metadata"]["type"] == "music"' data-topic="{{key}}">
			Currently playing: {{value["state"]}}
			<button data-topic="pause" ng-click="musicClick($event)">PAUSE</button>
			<button data-topic="play" ng-click="musicClick($event)">PLAY</button>
			<button data-topic="previous" ng-click="musicClick($event)">PREVIOUS</button>
			<button data-topic="next" ng-click="musicClick($event)">NEXT</button>
			<button data-topic="stop" ng-click="musicClick($event)">STOP</button>
		</div>
	</div>

	<div ng-hide="isopen">
		Connection to Server is NOT open!
		<button type="button" class="btn" ng-click="init()">Reconnect</button>
	</div>

</div>