<div id="control">


	<div ng-show="isopen" class="control-container btn-container">
		<button ng-repeat="(key, value) in config" ng-if='value["metadata"]["type"] == "bool"' type="button" class="btn btn-light" ng-class='value["state"] ? "on" : "off"' data-topic="{{key}}" ng-click="lightClick($event)">{{value["metadata"]["location"]}}</button>
	</div>

	<div ng-show="isopen" ng-repeat="(key, value) in config" class="control-container music-container">

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group music-control" ng-if='value["metadata"]["type"] == "music"' data-topic="{{key}}">
				<button type="button" class="btn btn-default" aria-label="Current Track">
					Currently Playing: {{value["state"]["song"]}}
				</button>
				<button type="button" class="btn btn-default" ng-repeat="btn in musicBtn"
					ng-class='{active: value["state"]["status"]["state"]==btn[0]}'
					data-topic="{{btn[0]}}" ng-click="musicClick($event)" aria-label="{{btn[0]}}">
					<span class="glyphicon glyphicon-{{btn[1]}}" aria-hidden="true"></span>
				</button>
				Playlist: {{value["state"]["playlist"]}}
			</div>
		</div>
	</div>
	
	<div ng-hide="isopen">
		Connection to Server is NOT open!
		<button type="button" class="btn" ng-click="init()">Reconnect</button>
	</div>

</div>