<div id="control">

	<div ng-show="isopen" class="btn-container">
		<button ng-repeat="(key, value) in config" ng-if='value["metadata"]["type"] == "bool"' type="button" class="btn btn-light" ng-class='value["state"] ? "on" : "off"' data-topic="{{key}}" ng-click="lightClick($event)">{{value["metadata"]["location"]}}</button>
		<hr />
	</div>

	<div ng-show="isopen" ng-repeat="(key, value) in config" class="music-container">

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group music-control" ng-if='value["metadata"]["type"] == "music"' data-topic="{{key}}">
				<button type="button" class="btn btn-default" aria-label="Current Track">
					Currently Playing: {{value["state"]}}
				</button>
				<button type="button" class="btn btn-default" aria-label="PAUSE" data-topic="pause" ng-click="musicClick($event)">
					<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" aria-label="PLAY" data-topic="play" ng-click="musicClick($event)">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" aria-label="PREVIOUS" data-topic="previous" ng-click="musicClick($event)">
					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" aria-label="NEXT" data-topic="next" ng-click="musicClick($event)">
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>

	<div ng-hide="isopen">
		Connection to Server is NOT open!
		<button type="button" class="btn" ng-click="init()">Reconnect</button>
	</div>

</div>